@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Regular.ttf);
}

@page {
  size: 21cm 29.7cm;
  font-family: Arial;
  padding:.5cm;
}

@page :first {
  padding:0cm;
  border-left-style: none;
  background:none;
  background: url("images/portada.png") no-repeat left;
  background-size: 10cm;
  background-position: top 1cm left;
  margin-top:1cm;
  margin-bottom:1cm;

  @top-left {
   background:none;
   content: '';
   height: 1cm;
   text-align: center;
   width: 5cm;
   font-size:1em;
   font-weight:bold;}

   @top-center {
    background: none;
    content: ''; }
   @top-right {
    background: none;
    content: ''; }

  @bottom-left {
    height: 1.5cm;
    width:5cm; }

  @bottom-left img {padding-left:.2cm;padding-right:.2cm;float:left;margin-top:-.4cm;width:4.2cm}
  @bottom-center {
    background: none;
    content: ''; }
  @bottom-right {
    background: none;
    content: ''; }
  @bottom-right-corner {
    background: none;
    border-left: 1px solid #fff;
    content: '';}
}

@page :left {
  margin-top: 10.2mm;
  margin-right: 19.3mm;
  margin-bottom: 15mm;
  margin-left: 15.2mm;
  @bottom-left { margin-bottom: 1cm; content: counter(page) }
  @top-right { content: string(heading); font-variant: small-caps }
}
@page :right {
  margin-top: 10.2mm;
  margin-right: 15.2mm;
  margin-bottom: 15mm;
  margin-left: 19.3mm;
  @top-left { content: string(heading); font-variant: small-caps }
  @bottom-right { margin-bottom: 1cm; content: counter(page) }
}
@page :blank {
  @top-right { content: none }
  @top-left { content: none }
}
@page clean {
  @top-right { content: none }
  @top-left { content: none }
  @bottom-right { content: none }
  @bottom-left { content: none }
}


/* Índice */
nav {
  page-break-before: always;
  page-break-after: always;
}

nav ul {
list-style-type: none;
}

/* Primer elemento en negrita y con separación */
nav > ul > li {
  margin-top: 0.75em;
  margin-bottom: 1em;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
}

nav ul li a::after {
  content: leader('.') target-counter(attr(href), page, decimal);
}

nav ul li ul li {
  font-weight: normal;
}

/* Saltos de página en cada capítulo */
h1 {
  font-size: 2em;
  page-break-before: right;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

li {
  font-size: 1em;
}

body {
  font-family: Arial;
  font-size: 10pt;
  line-height: 1.2;
}

section {
  page-break-before: always;
}

#copyright {
  page: clean;
  text-align: left;
}

/* Listas */

/* Índices de tema */

ol {
  list-style-type:none;
  counter-reset:list;
  margin-left: -0.5em;
}

ol li:before {
  counter-increment:list;
  content: counters(list, ".") ". ";
}

.indice + ol li ol {
  margin-left: 1.5em;
}

.indice_tema + ol {
  page-break-after: always;
}

/* Códigos de bloques */

pre {
  font-size: 0.875em;
  padding: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.pb { page-break-before: always; }
